
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive , sans-serif;
  background-image: url('./images/photo-1553356084-58ef4a67b2a7.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

i, svg{
  pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad{
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad{
  background: rgb(116, 227, 255);
}

.snare-pad{
  background: rgb(222,190,214);
}

.hihat-pad {
  background: rgb(249, 194, 160);
}

.kick-pad.active {
  background: rgb(59, 197, 231);
}

.snare-pad.active {
  background: rgb(218, 58, 178);
}

.hihat-pad.active {
  background: rgb(241, 158, 64);
}


.sequencer{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.hihat-track, .snare-track, .kick-track{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 5rem;
}

.kick, .snare, .hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button{
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transform: all 0.5s ease;
}

.pad{
  transition: all 0.5s ease;
}

.play{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select{
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.mute.active{
  background: rgb(182, 182, 182);
}

.tempo{
  margin: 3rem;
  width: 30%;
}

.tempo-slider{
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p{
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack{
  from{
    transform: scale(1);
  } 
  to {
    transform: scale(2);
  }
}